<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>

        <title>UPR tables{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"/>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='payments.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bulma.min.css" />
        <link rel="stylesheet" type="type/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" />
    </head>

    <body>
        <header>
            <nav class="navbar has-background-primary-light" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <div class="buttons">
                               
                  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                                                   
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <h1>{{ title }}</h1>
            <hr />
            {% block content %}{% endblock content %}
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/dataTables.bulma.min.js"></script>


    
        {% block scripts %}

        {% endblock scripts %}

        <footer class="footer">
            <div class="content has-text-centered">
             
            </div>
        </footer>
    </body>
</html>
