{% extends "layout.html" %}

{% block content %}

<table class= "table is-striped" id="gst_table"> 
    <thead>
        <tr>
        {% for i in column_names %}
            <th>{{ i|upper }}</th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
 </table>

<a href={{url_for('home_page')}} class="button is-link">Go back to query</a>
<form>

<a class="button is-link" href="{{ url_for('export_to_excel') }}">Export to excel</a>
</form>
{% block scripts %}
<script>
    $(document).ready(function () {
            $('#gst_table').DataTable({

                    ajax: '/api/data',
                    serverSide: true,
                    stateSave: true,
                    processing: true,
                    scrollX: true,
                    columns: [
                    {% for i in column_names %}
                    {data: '{{ i }}' },
                    {% endfor %}
                  ],
                    order: [[0, 'desc']]
                });
        });
</script>
{% endblock scripts %}

{% endblock content %}
